[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
scrapy = "*"
redis = "*"
confluent-kafka = {extras = ["avro"],version = "*"}
scrapy-splash = "*"
requests = "*"
fastavro = "*"
python-schema-registry-client = "*"
kafka-python = "*"
regex = "*"

[requires]
python_version = "3.7"
